<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>City Display</title>
</head>
<style>
.center {
  text-align: center;
  
}
</style>
<body>
	<blockquote style="border: 2px solid #666; padding: 10px; background-color: #ccc;"> 
	<h1>City</h1>
	<br/>

	<table class="center">
		<tr>
			<td>ID</td>
			<td th:inline="text">[[${city.id}]]</td>
		</tr>
		<tr>
			<td>Name</td>
			<td th:inline="text">[[${city.name}]]</td>
		</tr>
		<tr>
			<td>Country Code</td>
			<td th:inline="text">[[${city.countryCode}]]</td>
		</tr>
		<tr>
			<td>Country Name</td>
			<td th:inline="text">[[${city.countryName}]]</td>
		</tr>
		<tr>
			<td>District</td>
			<td th:inline="text">[[${city.district}]]</td>
		</tr>
		<tr>
			<td>Population</td>
			<td th:inline="text">[[${city.population}]]</td>
		</tr>
		<tr>
			<td>Local Weather</td>
			<td th:inline="text">[[${city.temp}]] &#8457;</td>
		</tr>
		<tr>
			<td>Local Time</td>
			<td th:inline="text">[[${city.time}]]</td>
		</tr>
	</table>
	 </blockquote>
</body>
</html>